{% extends "layout.html" %}

{% block content %}
  <header class="container">
    <div class="row text-center">
      <h1>WEB SYSTEMS DEVELOPMENT SEMINAR</h1>
    </div>
  </header>
  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>Learn to develop Web Applications with the most recent Tools!</h2>
        <h3>Softwares and Tools</h3>
        <a class="btn btn-primary" href="http://njit2.mrooms.net/course/view.php?id=23162#section-1">See all</a>
      </div>
      <div class="row text-left">
        <p>The Internet and the World Wide Web are the most transformative inventions of our time, and NJIT's graduate certificate in Web Systems Development provides a core set of knowledge and skills to develop Web-based application systems. This certificate provides a foundation and knowledge to allow competition in an ever changing technical world.</p>
        <p>Who is suited for this program?</p>
          <p>This certificate is designed for web system designers and developers, or those looking to move into this field, for career and knowledge advancement in the web development community.</p>
          <p>What will I learn?</p>

             <p>The program focuses on java programming and other object-oriented software development which are used in the construction of web systems. Various media such as text, images, video and audio are covered in order to produce a rich and rewarding web experience. Techniques essential for building databases, document processing, and information management systems are covered so that the web system is dynamic and data driven. Topics covered include information retrieval, multimedia systems, open source web design, web mining, web services, middleware, and authentication.</p>

          <p>Why study Web Systems Development at NJIT?</p>

          <p>With one of the most computing intensive campuses in the world, NJIT is a pioneer in the application of new technologies as learning tools. The College of Computing Sciences educates one of the largest groups of computing students in the nation and has outstanding faculty dedicated to preparing students for exciting careers in this field. The university educates one of the largest groups of information technology students in the nation. New Jersey is one of the leading states for computing and high technology businesses. Thirty of the nation's fastest growing technology companies are based in the state.</p>

        <p>Prerequisites:</p>

          <p>NJIT's standard admission requirements apply to this graduate certificate.  In addition, non-elective courses within the program require:</p>

              <ul>
                  <li>
                          Advanced web-based programming skills
              An understanding of object-oriented programming concepts
              Experience with C++ or knowledge of a higher-level programming language
              Mathematics
                      Accounting
                  </li>
              </ul>

                  <p>Note: Students lacking background in this area may need to take bridge courses at NJIT or elsewhere. Please contact the IS department for details.</p>

          <p>Related Degrees:</p>

                  <p>Courses in the Graduate Certificate program in Web Systems Development can be wholly applied to NJIT’s MS in Information Systems, and partially to the MS in Computer Science.</p>

          <p>Take Note</p>

              <p>Check the course descriptions for more information. Some courses have prerequisites and must be taken in order. Complete course descriptions can be found in the NJIT Online Catalog.</p>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>PHPstorm</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/2000px-PHP-logo.svg.png" style=width:250px>
      </div>
      <div class="col-sm-6">
        <p>Ubuntu</p>
        <img src="https://www.lffl.org/wp-content/uploads/2016/05/Ubuntu-1404-.jpg" style=width:250px>
      </div>
      <div class="col-sm-6">
        <p>Virtual Box</p>
        <img src="https://www.techprevue.com/wp-content/uploads/2016/04/Oracle-VM-VirtualBox.jpg" style=width:250px>
      </div>
      <div class="col-sm-6">
        <p>Git</p>
        <img src="https://git-scm.com/images/logos/downloads/Git-Logo-2Color.png" style=width:250px>
      </div>
    </div>

  </section>
  <footer class="container">
    <div class="row text-left">

      <ul class="col-md-8">
        <li class="col-md-8">
          <p>Venue - Room 222, Central King Building, New Jersey Institute of Technology</p>
        </li>
        <li class="col-md-8">
          <p>Dates - 09/18/2018 to 09/23/2018</p>
        </li>
        <li class="col-md-8">
          <p>Time  - 9AM to 6PM</p>
        </li>
        <li class="col-md-8">
          <p>Staff - Professor William Keith</p>
        </li>
        <li class="col-md-8">
          <p>Online Registrations open at</p>
          <a href="https://myhub.njit.edu/StudentRegistrationSsb/ssb/registration">www.WSDNJIT.com</a>
        </li>
        <li class="col-md-8">
          <p>Live Count for the seminar below!!
            Hurry! Limited Seats Only!!!!</p>
        </li>
      </ul>
    </div>
    <div class="row text-right">
      <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
      <p class="col-sm-8">&copy; 2018 NJIT</p>
    </div>
  </footer>
  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Barry</td>
      <td>Allen</td>
      <td>@njit.edu</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Bruce</td>
      <td>Wayne</td>
      <td>@njit.edu</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Clark</td>
      <td>Kent</td>
      <td>@njit.edu</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Diana</td>
      <td>Prince</td>
      <td>@njit.edu</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Hal</td>
      <td>Jordan</td>
      <td>@njit.edu</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Arthur</td>
      <td>Curry</td>
      <td>@njit.edu</td>
    </tr>
    </tbody>
  </table>
{% endblock %}
