{% extends "layout.html" %}

{% block content %}
  <header class="container">
    <div class="row text-center">
      <h1 class="col-sm-16">WEB SYSTEMS DEVELOPMENT SEMINAR</h1>
    </div>
  </header>
  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>Learn to develop Web Applications with the most recent Tools!</h2>
        <h3>Softwares and Tools</h3>
        <a class="btn btn-primary" href="http://njit2.mrooms.net/course/view.php?id=23162#section-1">See all</a>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>PHPstorm</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/2000px-PHP-logo.svg.png" style=width:250px>
      </div>
      <div class="col-sm-6">
        <p>Ubuntu</p>
        <img src="https://www.lffl.org/wp-content/uploads/2016/05/Ubuntu-1404-.jpg" style=width:250px>
      </div>
      <div class="col-sm-6">
        <p>Virtual Box</p>
        <img src="https://www.techprevue.com/wp-content/uploads/2016/04/Oracle-VM-VirtualBox.jpg" style=width:250px>
      </div>
      <div class="col-sm-6">
        <p>Git</p>
        <img src="https://git-scm.com/images/logos/downloads/Git-Logo-2Color.png" style=width:250px>
      </div>
    </div>

  </section>
  <footer class="container">
    <div class="row text-left">

      <ul class="col-md-8">
        <li class="col-md-8">
          <p>Venue - Room 222, Central King Building, New Jersey Institue  of Technology</p>
        </li>
        <li class="col-md-8">
          <p>Dates - 09/18/2018 to 09/20/2018</p>
        </li>
        <li class="col-md-8">
          <p>Time  - 9AM to 6PM</p>
        </li>
        <li class="col-md-8">
          <p>Staff - Professor William Keith</p>
        </li>
        <li class="col-md-8">
          <p>Online Registrations open at</p>
          <a href="#">www.WSDNJIT.com</a>
        </li>
        <li class="col-md-8">
          <p>Live Count for the seminar below!!
            Hurry! Limited Seats Only!!!!</p>
        </li>
      </ul>
    </div>
    <div class="row text-right">
      <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
      <p class="col-sm-8">&copy; 2016 NJIT</p>
    </div>
  </footer>
  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Barry</td>
      <td>Allen</td>
      <td>@njit.edu</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Bruce</td>
      <td>Wayne</td>
      <td>@njit.edu</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Clark</td>
      <td>Kent</td>
      <td>@njit.edu</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Diana</td>
      <td>Prince</td>
      <td>@njit.edu</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Hal</td>
      <td>Jordan</td>
      <td>@njit.edu</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Arthur</td>
      <td>Curry</td>
      <td>@njit.edu</td>
    </tr>
    </tbody>
  </table>
{% endblock %}
