<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="http://njit2.mrooms.net/course/view.php?id=23162"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-user"></span> Forums</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Started Guides <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://njit2.mrooms.net/mod/assign/index.php?id=23162">Assigments</a></li>
            <li><a href="http://njit2.mrooms.net/course/resources.php?id=23162">Resources</a></li>
            <li><a href="http://njit2.mrooms.net/mod/attendance/view.php?id=770754">Attendances</a></li>
            <li><a href="http://njit2.mrooms.net/mod/quiz/index.php?id=23162">Quizzes</a></li>
            <li class="divider"></li>
            /*<li><a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">Getting Started on Heroku with Heroku Connect</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-jruby">Getting Started with Ruby on Heroku (Microsoft Windows)</a></li>*/
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://portal.njit.edu/"><span class="glyphicon glyphicon-book"></span> Login</a>
      </li>
    </ul>
  </div>
</nav>
