<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="http://njit2.mrooms.net/course/view.php?id=23162"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="http://njit2.mrooms.net/mod/forum/index.php?id=23162"><span class="glyphicon glyphicon-user"></span> Forums</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Started Guides <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://njit2.mrooms.net/mod/assign/index.php?id=23162">Assigments</a></li>
            <li><a href="http://njit2.mrooms.net/course/resources.php?id=23162">Resources</a></li>
            <li><a href="http://njit2.mrooms.net/mod/attendance/view.php?id=770754">Attendances</a></li>
            <li><a href="http://njit2.mrooms.net/mod/quiz/index.php?id=23162">Quizzes</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://portal.njit.edu/"><span class="glyphicon glyphicon-book"></span> Login</a>
        <a href="http://www6.njit.edu/news/"><span class="glyphicon glyphicon-book"></span> Latest Updates</a>
        <a href="https://www.njit.edu/global/contact/"><span class="glyphicon glyphicon-book"></span> Contact</a>
      </li>
    </ul>
  </div>
</nav>
